deps/
home-assistant.log
home-assistant.log*
home-assistant*.db
home-assistant_v2.db
OZW_Log.txt
plex.conf
pyozw.sqlite
secrets.yaml
tts/
zibgee.db
zwscene.xml
.uuid
.HA_VERSION
backup/
*.db-shm
*.db-wal
nest.conf
Session.vim
*.pyc
entity_registry.yaml
.DS_Store
phones.sqlite*
